.mainMenu-open{
	#header{
		#mainMenu{
			overflow: hidden;
		}
	}
}

#mainMenu-trigger{
	width: 100px;
}

#mainMenu{
	> .container{
		padding: 0 15px !important;

		nav{
			li{
				&.active{
					> a{
						color: #1abc9c;
					}
				}
			}
		}
	}
}

.rowcarousel-description-clients{
	.description{
		h2{
			margin-bottom: 15px;
		}
	}
}

.social-icons{
	> ul{
		> li{
			display: inline-block;
			float: none;
		}
	}
}